/*Cursor mouse piscando*/

@keyframes animacao-cursor{
    from{
        border-right-color: rgba(255, 255, 255, .75);
    }
    to{
        border-right-color: transparent;
    }
}

.animation1{
    border-right: 2px solid rgba(255, 255, 255, .75);
    animation: animacao-cursor 1500ms infinite normal;
}


/*Bart sentado se movendo e bart peladao se movendo quando a tela ta pequena*/

@keyframes animacao{
    0%{
        transform: translate(0vh);
    }
    50%{
        transform: translate(2vh);
    }
    100%{
        transform: translate(0vh);
    }
}

.foto1{
    transform: translateY(0px);
    animation: animacao 2s infinite;
}

/*Linkedin*/

.linkedin, .foto-sobre{
    position: relative;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.linkedin:after, .foto-sobre:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.linkedin:hover, .foto-sobre:hover{
    transform: scale(1.1, 1.1);
}

.linkedin:hover::after, .foto-sobre:hover::after{
    opacity: 1;
}

@keyframes homer{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(5px);
    }
    100%{
        transform: translate(0px);
    }

}

#sobre > picture{
    transform: translateY(0px);
    animation: homer 2s infinite;
}



