*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, #3c75c0, #5498f0 );
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

li{

}

.apresentacao{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 25vh;
    color: white;
}

.frase-apresentacao{
    font-size: 1.5em;
}

.nome-principal{
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem1{

}

.primeira-foto{
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.primeirafoto1{
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.primeirafoto2{

}

.linkedin{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #3c75c0;
    background: white;
    border-radius: 5px;
    margin: 45px;
    padding: 10px;
    border-width: 15vh;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

#sobre{
    background: white;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 20vh;
}

.fotos{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

#projetos{
    text-align: center;
}

.texto-sobre > h1{
    font-size: 5em;
    margin: 4vh 0 0 1vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.projetinho{
    background-color: yellow;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 35vh;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    margin: 50px;
    background-image: url(../imagens/homerbabando.png);
}

.projetinho > h2{
   color: rgb(218, 0, 0);
   background-color: #ffffff7b;
   border-radius: 5px;
}

.projetinho > picture{
   
}

.em-breve{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    width: 40vh;
    height: 25vh;
    border-radius: 15px;
}

.projetinho:picture::img{
    
}

#tecnologias{
    background: white;
    list-style: none;
    width: 100%;
    height: 100%;


}

#tecnologias li{
    display: inline-block;

}




